.css-12w0qpk.e1tzin5v2{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
    color: #FFF;
}
.diagnosis{
    color: #FFF;
    padding: 5px;
    border-radius: 5px
}
.diagnosis.benign{
    background-color: green;
}
.diagnosis.malicious{
    background-color: red;
}